{% extends "base.html.twig" %}

{% block body %}
    {{ title }}

<div class="row small-up-1 medium-up-2 large-up-3">
    {% for product in products%}

        {% include '/blocks/products/_product.html.twig' with {
            slug:product.slug,
            name: product.name,
            description: product.description,
            price: product.price,
            image: product.image,
            category: product.category, }
        %}
    {% endfor %}
</div>
{% endblock %}
